Source: zookeeper
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: James Page <james.page@ubuntu.com>
Build-Depends:
 ant (>= 1.6.0),
 ant-optional,
 debhelper (>= 9~),
 dh-systemd,
 javahelper (>= 0.28),
 ivy-debian-helper,
 javacc
X-Python-Version: >= 2.6
Standards-Version: 3.9.8
Vcs-Git: https://anonscm.debian.org/git/pkg-java/zookeeper.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-java/zookeeper.git
Homepage: http://zookeeper.apache.org

Package: zookeeper
Architecture: all
Depends:
 adduser,
 default-jre-headless | java6-runtime-headless,
 ${misc:Depends}
Description: High-performance coordination service for distributed applications
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.
 .
 This package contains the shell scripts and an example configuration but does
 not automatically start up the service. The example configuration is installed
 with the update-alternatives mechanism.
